* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.header-top {
  background: grey;
  height: 50px;
}
div.header-menu {
  background: lightgrey;
  height: 50px;
}
div.header-central-section {
  background: pink;
  height: 500px;
}
