* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  font-size: 16px;
  color: #33475B;
}
a {
  text-decoration: none;
  color: #33475B;
}
.container-70 {
  width: 70%;
  margin: auto;
}
.container-50 {
  width: 50%;
}
ul.no-style-list {
  list-style: none;
}
.btn {
  padding: 10px;
  background: #fd7a5a;
  border-radius: 5px;
  color: white;
}
.learn-more {
  display: inline-block;
  padding: 20px 40px;
}
span.display-block {
  display: block;
}
.box-white {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgrey;
}
.img-features {
  margin: 20px 0 30px 0;
  width: 150px;
}
/* Proprietà check-list circolari */
.fas.fa-check-circle {
  color: #fd7a5a;
  margin-right: 10px;
}
/* /Proprietà check-list circolari */

p.p-cont-50 {
  margin: 20px 0;
  line-height: 1.6;
}

/* Sezione header */
/* Riga lingua e login */
header .header-top {
  width: 100%;
  background: 	#f0f8ff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header .header-content {
  height: 70px;
  background: 	#f0f8ff;
  line-height: 70px;
}
header ul.no-style-list {
  list-style: none;
}
header li {
  display: inline-block;
  padding: 0 5px;
}
header ul.no-style-list a {
  text-decoration: none;
}
header ul.no-style-list li a#contact-us{
  border-left: 1px solid #33475B;
  padding-left: 10px;
}
header .header-content-left {
  float: left;
}
header .header-content-right {
    float: right;
}
#icon-search {
  color: #35B0C6;
}
.btn-white {
  background: white;
  color: #fd7a5a;
  border: 2px solid #fd7a5a;
}
/* /Riga lingua e login */

/* Barra del menu */
.header-menu {
  height: 70px;
  margin-top: 70px;
  line-height: 70px;
}
.header-menu .logo {
  float: left;
}
.header-menu .logo > a {
  display: inline-block;
}
.header-menu img {
  line-height: 70px;
  vertical-align: middle;
}
.menu-bar {
  float: right;
}
.menu-bar i {
  padding: 0 10px;
}
/* /Barra del menu */

/* Sezione jumbotron */
.header-jumbotron {
  position: relative;
  height: 500px;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FFF3ED;
}
.header-jumbotron::after{
  display: block;
  position: absolute;
  bottom: 0;
  content:"";
  width: 100%;
  height: 60px;
  background: #83e1da;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;

}
.container-50 h1.h1-cont-50 {
  padding-top: 40px;
  font-size: 45px;
}
.container-50 p.p-cont-50 {
  margin: 20px 0;
  line-height: 1.6;
}
.container-50 a.a-cont-50 {
  display: inline-block;
  text-decoration: none;
  padding: 20px 40px;
}
.header-jumbotron .container-70 .container-50 p.p-cont-50:last-child {
  font-size: 12px;
}
/* /Sezione jumbotron */
/* /Sezione header */

/* Sezione del Main */
/* Sezione del cubo */
main{
  background: 	#f0f8ff;
}
main .main-container-top {
  height: 1500px;
}
main .main-content-first-section {
  height: 400px;
  padding: 5% 15%;
  text-align: center;
}
.main-content-first-section img {
  width: 250px;
}
.main-content-first-section h2 {
  margin-bottom: 40px;
}
/* /Sezione del cubo */

/* Sezione features */
main .main-content-second-section {
  padding: 40px;
  height: 300px;

}
.main-content-second-section .second-sec-left {
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
}
.second-sec-left .learn-more {
  padding: 20px 40px;
}

.main-content-second-section .second-sec-right {
  padding-top: 20px;
  float:left;
  width: 70%;
  height: 100%;
}
.second-sec-right h3:first-child {
  font-size: 1.5em;
}
.second-sec-right p {
  padding: 20px 15px 20px 0;
  line-height: 1.8;
}
.second-sec-right h3 {
  display: inline-block;
  text-transform: uppercase;
}
.second-sec-right .hr {
  float: right;
  width: 65%;
  height: 20px;
  padding-top: 10px;
}
.second-sec-right li{
  display: inline-block;
  margin: 20px 0;
  padding-right: 25px;
}
/* /Sezione features */

/* Sezione Marketing,Sales e Service Hub */
section.column{
  float: left;
  margin: 2% 0;
  padding: 25px;
  width: 30%;
  height: 50px;
  height: 650px;
  text-align: center;
}
.column img.img-features.small {
  width: 120px;
  height: 120px;
}
.column > h3 {
  font-size: 1.5em;
}
.column.box-white p{
  padding: 20px 20px 40px 20px;
  font-size: 14px;
  line-height: 1.6;
  border-bottom: 1px solid black;
}
.column.box-white h4 {
  text-transform: uppercase;
  margin: 35px 25px;
  font-size: 1.1em;
}
.column.box-white li.left-alignment {
  text-align: left;
}
.column.box-white a {
  margin-top:50px;
}
section.column.central {
  margin:2% 5%;
}
/* /Sezione Marketing,Sales e Service Hub */

/* Sezione dati Community */
main .main-container-central {
  /* height: 1000px; */
  background-image: linear-gradient(to right, #05ABB7 0%, #2EBDA5 100%);
  color: white;
  text-align: center;
  padding: 30px 0;
}
.main-container-central h2 {
  font-size:1.8em;
 padding: 0 10px;
}
.main-container-central p#p-motivational {
  margin: 25px 0;
  line-height: 1.8;
}

.main-container-central .data-community {
  width: 100%;
  margin: 80px 0;
}
.data-community {
  content: "";
  display: table;
  clear: both;
}
.main-container-central .box-community {
  float: left;
  width: 25%;
  height: 200px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.box-community.top-right {
  border-right: 0;
}
.box-community.bottom {
  border-bottom: 0;
}
.box-community.bottom:last-child {
  border-right: 0;
}
.img-box-community img {
  height: 40px;
  margin: 20px 0;
}
.box-community h2 {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  font-size: 2.5em;
}
.box-community h2::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding-left: 5px;
  content: "+";
  font-size: 22px;
  font-weight: 400;
}
/* /Sezione dati Community */

/* Sezione finale mai main */
main .main-container-bottom {
  background: white;
}
.main-container-bottom::after {
  content: "";
  display: table;
  clear: both;
}

/* Sezione Aziende Partners */
.partner-companies {
  padding: 2% 5%;
}
.partner-companies::after {
  content: "";
  display: table;
  clear: both;
}
.numbers-companies {
  display: block;
  float: left;
  width: 200px;
  height: 150px;
}
.numbers-companies h2 {
  font-size: 2.7em;
  margin-bottom: 20px;
}
.numbers-companies p {
  line-height: 1.6;
}
.logos-companies {
  float: right;
  width: 65%;
  height: 120px;
}
.logos-compaines::after {
  content: "";
  display: table;
  clear: both;
}
.img-logos-compaines {
  position: relative;
  float: left;
  width: 25%;
  height: 50%;
}
.img-logos-compaines img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0 auto;
  padding: 15px 5px;
  width: 130px;
  text-align: center;
}
/* Sezione Aziende Partners */

/* Sezione start growing */
.main-container-bottom .container-50 {
  float: left;
  padding-right: 25px;
}
.main-container-bottom h1.h1-cont-50 {
  font-size: 2em;
}
.main-container-bottom .container-50 p.p-cont-50:last-child {
  font-size: 12px;
}
.img-woman {
  float: right;
  width: 300px;
  height: 380px;
  margin-top: 40px;
}
.img-woman img {
  width: 300px;
}
/* /Sezione start growing */


/* /Sezione finale mai main */
/* Sezione del Main */
footer {
  background: #33475B;
  color: lightgrey;
}
footer::after{
  content: "";
  display: table;
  clear: both;
}

/* Sezione link footer */
footer .container-70 a {
  color: lightgrey;
}
.link-footer {
  float: left;
  margin: 20px 0;
  padding-right: 25px;
  width: 25%;
  height: 350px;
}
.link-footer li {
  margin: 10px 0;
}
.link-footer li > h4 {
  margin-bottom: 25px;
  color: white;
}
.link-footer a#hub-support {
  display: inline-block;
  background: lightgrey;
  border-radius: 5px;
  color: #33475B;
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
}
.link-footer ul.no-style-list.logo-social-list li {
  float: left;
  width: 16%;
}
/* Sezione link footer */

/* Sezione finale */
.copyright-box {
  height: 450px;
}
.languages-row {
  border-bottom: 1px solid white;
  text-align: center;
}
.languages-row li {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px;
}

.copyright-row {
  width: 100%;
  margin: 30px 0;
}
.copyright-row::after {
  content: "";
  display: table;
  clear: both;
}
.img-copyright {
  display: inline-block;
  float: left;
}
.copyright-row h5#copyright {
  color: white;
  font-weight: 400;
}
.privacy-policy {
  float: right;
}
.copyright-row ul {
  float: right;
}
.copyright-row li {
  display: inline-block;
  padding-left: 15px;
}
