* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  font-size: 16px;
  color: #33475B;
}
a {
  text-decoration: none;
  color: #33475B;
}
.container-70 {
  width: 70%;
  margin: auto;
}
.container-50 {
  width: 50%;
}
ul.no-style-list {
  list-style: none;
}
.btn {
  padding: 10px;
  background: #fd7a5a;
  border-radius: 5px;
  color: white;
}
.learn-more {
  display: inline-block;
  padding: 20px 40px;
}
span.display-block {
  display: block;
}
.box-white {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgrey;
}
.img-features {
  margin: 20px 0 30px 0;
  width: 150px;
}
/* Proprietàcheck-list circolari */
.fas.fa-check-circle {
  color: #fd7a5a;
  margin-right: 10px;
}
/* /Proprietà check-list circolari */

header .header-top {
  width: 100%;
  background: 	#f0f8ff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header .header-content {
  height: 70px;
  background: 	#f0f8ff;
  line-height: 70px;
}
header ul.no-style-list {
  list-style: none;
}
header li {
  display: inline-block;
  padding: 0 5px;
}
header ul.no-style-list a {
  text-decoration: none;
}
header ul.no-style-list li a#contact-us{
  border-left: 1px solid #33475B;
  padding-left: 10px;
}
header .header-content-left {
  float: left;
}
header .header-content-right {
    float: right;
}
#icon-search {
  color: #35B0C6;
}
.btn-white {
  background: white;
  color: #fd7a5a;
  border: 2px solid #fd7a5a;
}

.header-menu {
  height: 70px;
  margin-top: 70px;
  line-height: 70px;
}
.header-menu .logo {
  float: left;
}
.header-menu .logo > a {
  display: inline-block;
}
.header-menu img {
  line-height: 70px;
  vertical-align: middle;
}
.menu-bar {
  float: right;
}
.menu-bar i {
  padding: 0 10px;
}

.header-jumbotron {
  position: relative;
  height: 500px;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FFF3ED;
}
.header-jumbotron::after{
  display: block;
  position: absolute;
  bottom: 0;
  content:"";
  width: 100%;
  height: 60px;
  background: #83e1da;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;

}
.header-jumbotron h1 {
  padding-top: 40px;
  font-size: 45px;
}
.header-jumbotron p {
  margin: 20px 0;
  line-height: 1.6;
}
.header-jumbotron a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 40px;
}
.header-jumbotron p:last-child {
  font-size: 12px;
}

main{
  height: 2000px;
  background: 	#f0f8ff;
}
main .main-container-top {
  height: 1500px;
}
main .main-content-first-section {
  height: 400px;
  padding: 5% 15%;
  text-align: center;
}
.main-content-first-section img {
  width: 250px;
}
.main-content-first-section h2 {
  margin-bottom: 40px;
}

main .main-content-second-section {
  padding: 40px;
  height: 300px;

}
.main-content-second-section .second-sec-left {
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
}
.second-sec-left .learn-more {
  padding: 20px 40px;
}

.main-content-second-section .second-sec-right {
  padding-top: 20px;
  float:left;
  width: 70%;
  height: 100%;
}
.second-sec-right h3:first-child {
  font-size: 1.5em;
}
.second-sec-right p {
  padding: 20px 15px 20px 0;
  line-height: 1.8;
}
.second-sec-right h3 {
  display: inline-block;
  text-transform: uppercase;
}
.second-sec-right .hr {
  float: right;
  width: 65%;
  height: 20px;
  padding-top: 10px;
}
.second-sec-right li{
  display: inline-block;
  margin: 20px 0;
  padding-right: 25px;
}




section.column{
  float: left;
  margin: 25px 0;
  padding: 25px;
  width: 30%;
  height: 50px;
  height: 680px;
  text-align: center;
}
.column img.img-features.small {
  width: 120px;
  height: 120px;
}
.column > h3 {
  font-size: 1.5em;
}
.column.box-white p{
  padding: 20px 20px 40px 20px;
  line-height: 1.6;
  border-bottom: 1px solid black;
}
.column.box-white h4 {
  text-transform: uppercase;
  margin: 35px 25px;
  font-size: 1.1em;
}
.column.box-white li.left-alignment {
  text-align: left;
}
.column.box-white a {
  margin-top:50px;
}

section.column.central {
  margin:2% 5%;
}



main .main-container-central {
  height: 400px;
  background-image: linear-gradient(to right, #05ABB7 0%, #2EBDA5 100%);
}

main .main-container-bottom {
  height: 400px;
  background: white;
}

footer {
  height: 400px;
  background: purple;
}
